
    nav {
		@media (max-width: 540px) {
			display: none;
		}
    }

    .one,
    .two,
    .three {
		@media (max-width: 540px) {
			background-color: #fff;
			height: 5px;
			width: 100%;
			margin: 6px auto;

			transition-duration: 0.3s;
		}
    }

    .menu-toggle {
		@media (max-width: 540px) {
			width: 40px;
			height: 30px;
			margin-right: 20px;
		}
	}

    /* fullscreen */
    .menu-section {
		.on {
			@media (max-width: 540px) {
				position: absolute;
				top:0;
				left:0;
				
				width: 100vw;
				height: 100vh;

				background-color: #7159c1;
				
				z-index: 10;

				display: flex;
				justify-content: center;
				align-items: center;

				nav {
					display: block;

					ul {
						text-align: center;
						display: block;

						a {
							transition-duration: 0.5s;
							font-size: 3rem;
							line-height: 4rem;
							display: block;
						
						}
					}
				}

				.menu-toggle {
					position: absolute;
					right: 25px;
					top: 15px;

					.one {
						transform: rotate(45deg) translate(7px, 7px);
					}
					.two {
						opacity: 0;
					}
					.three {
						transform: rotate(-45deg) translate(8px, -9px);
					}
				}
			}
		}
    }


